<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
    <title>Document</title>
</head>
<body>


<header>

    <h1>Sael's App</h1>

    <li><a href="{{ path('home') }}">Accueil</a></li>
    <li><a href="{{ path('articles_list') }}">Articles</a></li>
    <li><a href="{{ path('category_list') }}">Catégories</a></li>
    <li><a href="{{ path('create_article') }}">Article création</a></li>
    <li><a href="{{ path('create_category') }}">Catégories création</a></li>


    <form method="get" action="{{ path('article_search')}}">

        <input type="text" name="search">
        <input type="submit">

    </form>



</header>

</body>
